<app-fat-foradoprazo></app-fat-foradoprazo>
<div class="mt-5">
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#pago">Faturas pagas</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#aberto">Faturas em aberto</a>
    </li>
  </ul>

<!-- Conteúdo das abas -->

<div class="tab-content">
  <div id="pago" class="tab-pane active"><br>
    <h3>FATURAS PAGAS</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Empresa</th>
          <th>Valor</th>
          <th>Data Pagamento</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor=" let fatura of lista_faturas">
          <tr *ngIf="fatura.dt_pagto !== '0000-00-00' && fatura.dt_pagto">
            <td>{{ fatura.empresa  }} </td> 
            <td>  <span style="color: blue">{{ fatura.valor | number: '1.2-2'  }}</span> </td>
            <td>{{fatura.dt_pagto | date:'dd/MM/yyyy'}}</td>  
          </tr>
        </ng-container>
      </tbody>   
    </table>
  </div>
  <div id="aberto" class="tab-pane fade"><br>
    <h3>FATURAS EM ABERTO</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Empresa</th>
          <th>Valor</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor=" let fatura of lista_faturas">
          <tr *ngIf="fatura.dt_pagto === '0000-00-00' || !fatura.dt_pagto">
            <td>{{ fatura.empresa  }} </td> 
            <td>  <span style="color: blue">{{ fatura.valor | number: '1.2-2'  }}</span> </td>
          </tr>
        </ng-container>
      </tbody>   
    </table>
  </div>
</div>
</div>